# Exploring the MovieLens 1M Dataset

I begin by importing pandas.It is conventional to use pd to denote pandas.

In [6]:
import pandas as pd
import numpy as np

In [7]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv('Assignment 1/ml-1m/users.dat', sep='::', header=None, names=unames, engine='python')

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('Assignment 1/ml-1m/ratings.dat', sep='::', header=None, names=rnames, engine='python')

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('Assignment 1/ml-1m/movies.dat', sep='::', header=None, names=mnames, engine='python', encoding="unicode_escape")

data = pd.merge(pd.merge(ratings, users), movies)
data.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

In [8]:
rating_for_genre = data.groupby('genres').size()
rating_for_genre.head()

genres
Action                                           12311
Action|Adventure                                 10446
Action|Adventure|Animation                         345
Action|Adventure|Animation|Children's|Fantasy      135
Action|Adventure|Animation|Horror|Sci-Fi           618
dtype: int64

1. An aggregate on the number of rating done for each particular genre, e.g.,Action, Adventure, Drama, Science Fiction, ...

In [9]:

pd.show_versions()

pd.__version__

INSTALLED VERSIONS
------------------
commit           : 945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5
python           : 3.9.7.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : Intel64 Family 6 Model 141 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.3.4
numpy            : 1.20.3
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.2.4
setuptools       : 58.0.4
Cython           : 0.29.24
pytest           : 6.2.4
hypothesis       : None
sphinx           : 4.2.0
blosc            : None
feather          : None
xlsxwriter       : 3.0.1
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.29.0
pandas_datareader: None
bs4              : 4.10.0
bottleneck       : 1.3.2
fsspec           : 2021.10.1
fastparquet      : None
gcsfs            : None
matplotlib       : 3.4.3
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.1
sqlalchemy       : 1.4.22
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.54.1

'1.3.4'

In [10]:
# data = data.join(data.pop('genres').str.get_dummies('|'))
data['genres'] = data['genres'].str.split("|")
data.head()
data.explode('genres')

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

2. The top 5 ranked genres by women on most number of rating.

In [11]:
mean_rating_by_genres = data.pivot_table('rating',index='genres',columns='gender',aggfunc='mean')
top_female_ratings = mean_rating_by_genres.sort_values(by='F',ascending=False)
top_female_ratings[:5]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

TypeError: unhashable type: 'list'

3. The top 5 ranked genres by men on most number of rating.

In [ ]:
top_male_ratings = mean_rating_by_genres.sort_values(by='M', ascending=False)
top_male_ratings[:5]

4. Pick a genre of your choice and provide average movie’s ratings by the following four time intervals during which the movies were released (a) 1970 to 1979 (b) 1980 to 1989 (c) 1990 to 1999 (d) 2000 to 2009.

(a) 1970 to 1979

In [ ]:
data['title']=data['title'].str.slice(-5,-1).astype('int')
genre1=data.loc[(data["genres"] == "Drama") & (data["title"] >= 1970) & (data["title"] <= 1979)]
genre1["rating"].mean()

(b) 1980 to 1989

In [ ]:
genre2=data.loc[(data["genres"] == "Drama") & (data["title"] >= 1980) & (data["title"] <= 1989)]
genre2["rating"].mean()

(c) 1990 to 1999

In [ ]:
genre3=data.loc[(data["genres"] == "Drama") & (data["title"] >= 1990) & (data["title"] <= 1999)]
genre3["rating"].mean()

(d) 2000 to 2009

In [ ]:
genre4=data.loc[(data["genres"] == "Drama") & (data["title"] >= 2000) & (data["title"] <= 2009)]
genre4["rating"].mean()

5. A function that given a genre and a rating_range (i.e. [3.5, 4]), returns all the movies of that genre and within that rating range sorted by average rating. Using an example, demonstrate that your function works.

In [ ]:
def movie_filtering(genre, rating_range):
    rating_range = rating_range.lstrip ("[").rstrip ("]")
    new_data = data.loc[(data["genres"] == genre) & (data["rating"] >= float(rating_range.split(",")[0])) & (data["rating"] <= float(rating_range.split(",")[1]))]
    return new_data

movie_filtering('Drama','[3, 3.5]').head()

6. Present one other statistic, figure, aggregate, or plot that you created using this dataset, along with a short description of what interesting observations you derived from it. This question is meant to give you a freehand to explore and present aspects of the dataset that interests you.

In [ ]:
import matplotlib.pyplot as plt
mean_rating_by_genres['diff'] = mean_rating_by_genres.M - mean_rating_by_genres.F
mean_rating_by_genres.head()

In [ ]:
diff = mean_rating_by_genres['diff']
diff.sort_values().plot(kind='barh', figsize=[9, 15])
plt.title('Male vs. Female Avg. Ratings\n(Difference > 0 = Favored by Men)')
plt.ylabel('Title')
plt.xlabel('Average Rating Difference');
plt.show()